%header
  2014 FIFA World Cup Brazil

%section.map
  %ul.countries
    - groups_list.each do |g|
      %li.group= "Group #{g['group']}"
      - g["teams"].each do |team|
        %li
          = image_tag "#{team.name}.png"
          = link_to team.name

  #container

%section.scatterPlot
  %select#dropdown{name: 'Teams'}
    %option{value: "All"} All
    - teams_list.each do |team|
      %option{value: team}= team

  #scatterPlotContainer
    %svg

%section.barGraphs
  .toggler
    Toggle Switch:
    %p.selected Height
    %p Weight

  #barGraphContainer
    %svg

%section.ageGraph
  %h1 Player Ages

  #ageGraphContainer
    %svg

:javascript
  rosters = #{data.rosters.to_json};
  init(rosters);
