%header
  2014 FIFA World Cup Brazil

%section.map
  %h1 Where Were They Born?
  %h3 As the World Cup gets underway in June - 32 nations are represented, but not all nations have a full squad of native born players.  The USA for example has 3 players who were born in Germany. Conversely - Russia, Argentina, and Brazil have only home grown players representing their country. The map below shows the birthplaces of the selected country's players.  Click around to select different countries and zoom in for a better look.

  %ul.countries
    - groups_list.each do |g|
      %li.group= "Group #{g['group']}"
      - g["teams"].each do |team|
        %li
          = image_tag "#{team.name}.png"
          = link_to team.name

  #container

%section.scatterPlot
  %h1 Height / Weight Scatter Plot
  %h3 It's not surprising that the largest players on the field are the Goalkeepers. Or that the smallest players are the midfielders. Break down the heights and weights of players by team. Toggle the positions on and off to filter.

  %select#dropdown{name: 'Teams'}
    %option{value: "All"} All
    - teams_list.each do |team|
      %option{value: team}= team

  #scatterPlotContainer
    %svg

%section.ageGraph
  %h1 If Only I Was Born in January...
  %h3 There is not an even distribution of birthdates represented in the World Cup.  As in many major sports - there is a distinct advantage to celebrating your birthday in January, February, or March.  Below is the birth month distribution of the 2014 World Cup Rosters showing the deviation of each month from the average of 68 players.

  #ageGraphContainer
    %svg

:javascript
  rosters = #{data.rosters.to_json};
  init(rosters);
