%header
  2014 FIFA World Cup Brazil

%section.map
  %ul.countries
    - groups_list.each do |g|
      %li.group= "Group #{g['group']}"
      - g["teams"].each do |team|
        %li
          = image_tag "#{team.name}.png"
          = link_to team.name

  #container

%section.scatterPlot
  %select#dropdown{name: 'Teams'}
    %option{value: "All"} All
    - teams_list.each do |team|
      %option{value: team}= team

  #scatterPlotContainer
    %svg

%section.ageGraph
  %h1 If Only I Was Born in January...
  %h3 There is not an even distribution of birthdates represented in the World Cup.  As in many major sports - there is a distinct advantage to celebrating your birthday in January, February, or March.  Below is the birth month distribution of the 2014 World Cup Rosters showing the deviation of each month from the average of 68 players.

  #ageGraphContainer
    %svg

:javascript
  rosters = #{data.rosters.to_json};
  init(rosters);
